@import 'https://fonts.googleapis.com/css?family=Raleway&display=swap';
@import 'https://fonts.googleapis.com/earlyaccess/notonaskharabic.css?display=swap';
@import 'https://fonts.googleapis.com/css?family=Cairo:200,400,600?display=swap';

/* Start general rules */
:root {
    --main-color: #3f64b5;
    --darker-main-color: #1e3056;
    --light-color: #d9e6f4
}

body {
    font-style: normal;
    font-family:noto naskh arabic,Arial,sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button:focus,
select:focus,
select:active{
    outline: none;
}

.font-head {
    font-family:railway,cairo,Arial,sans-serif !important;
    font-weight: 700;
}
/* End general rules */

/* Start notification messages */
.notify-message {
    padding: 5px;
    border-radius: 10px;
    background-color: #28a745;
    color: #FFFFFF;
    font-size: 18px;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 61px;
    left: -300px;
    z-index: 9999;
}

.alert-normal {
    display: none;
    width: fit-content;
    position: fixed;
    top: 65px;
    right: 250px;
    z-index: 3;
}

.alert-success.alert-normal {
    display: block;
    padding: 5px;
    border-radius: 10px;
    background-color: #28a745;
    color: #FFFFFF;
    font-size: 18px;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 61px;
    left: -300px;
    right: auto;
    z-index: 9999;
}

.alert-ajax {
    display: none;
    width: fit-content;
    position: fixed;
    top: 65px;
    right: 250px;
    z-index: 9999;
}
/* End notification messages */

/* Start add-url-to-section model */
.modal .modal-content .modal-header .modal-title {
    color: var(--darker-main-color);
}

.modal .modal-content .modal-header button span {
    color: var(--darker-main-color);
}

.modal .modal-content .modal-body select {
    border: none;
    color: var(--darker-main-color);
    background-color: var(--light-color);
}

.modal .modal-content .modal-footer .btn:first-child {
    border: none;
    color: #FFFFFF;
    background-color: var(--main-color);
    opacity: 0.9;
    transition: opacity .3s ease-in-out;
}

.modal .modal-content .modal-footer .btn:first-child:hover {
    opacity: 1;
}
/* End add-url-to-section model */

/* Start rename-section model */
.rename-section .modal-content .modal-body input {
    color: var(--darker-main-color);
    border: none;
    -moz-box-shadow: 0px 0px 2px var(--darker-main-color);
    -webkit-box-shadow: 0px 0px 2px var(--darker-main-color);
    box-shadow: 0px 0px 2px var(--darker-main-color);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
.rename-section .modal-content .modal-body input::placeholder {
    color: var(--darker-main-color);
}
.rename-section .modal-content .modal-body input:focus {
    outline: none;
}
/* End rename-section model */

/* Start sidebar */
.sidebar {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 240px;
    height: fit-content;
    display: block;
    color: #fff;
    text-align: center;
    background-color: #FFFFFF;
    transition: all .3s ease-in-out;
    box-shadow: none;
}

.sidebar.active {
    right: 0;
}

.sidebar .my-list form {
    padding-top: 10px;
    display: inline-flex;
    padding-right: 55px;
    justify-content: right;
}

@media only screen and (max-width: 1150px) {
    .sidebar .my-list form{
        padding-right: 35px;
        margin-left: 20px;
    }
}

.sidebar .my-list form input{
    color: var(--main-color);
    border: none;
    -moz-box-shadow: 0px 0px 2px var(--main-color);
    -webkit-box-shadow: 0px 0px 2px var(--main-color);
    box-shadow: 0px 0px 2px var(--main-color);
    border-radius: 10px;
    width: 150px;
    padding-right: 10px;
}

.sidebar .my-list form input::placeholder {
    color: var(--main-color);

}

.sidebar .my-list form input:focus {
    border: none;
    outline: none;
}

.sidebar .my-list form button {
    border: none;
    outline: none;
    background: none;
}

.sidebar .my-list form button i {
    color: var(--main-color);
    font-size: 22px;
    margin: 6px 10px 0px 0px;
    cursor: pointer;
}

.sidebar .my-list form button i.fa-spinner {
    display: none;
}


.sidebar .my-list .sections form {
    padding: 0;
}

.sidebar .my-list .sections .dropright {
    display: inline-block;
    color: var(--main-color);
    width: 20%;
    height: 100%;
}

.sidebar .my-list .sections .dropright .dropdown-toggle {
    margin: 4px 0 0 0;
    width: 100%;
    height: 100%;
}

.sidebar .my-list .sections .dropright .dropdown-toggle i{
    text-align: end;
    width: 29px;
    height: 20px;
}


.sidebar .my-list .sections .dropright .dropdown-toggle::before {
    display: none !important;
}
.sidebar .my-list .sections .dropright .dropdown-menu {
    transform: none !important;
    border: none;
    -moz-box-shadow: 0px 0px 10px #bcbdbecc;
    -webkit-box-shadow: 0px 0px 10px #bcbdbecc;
    box-shadow: 0px 0px 10px #bcbdbecc;
}

.sidebar .my-list .sections .dropright .dropdown-menu .dropdown-item i,
.sidebar .my-list .sections .dropright .dropdown-menu .dropdown-item span {
    color: var(--darker-main-color) ;
    cursor: pointer;
}

.sidebar .my-list .sections .dropright .dropdown-menu .dropdown-item:hover {
    background-color: var(--light-color);
}

.sidebar .my-list .sections .dropright .dropdown-menu .dropdown-item:active {
    background-color: var(--light-color);
}

@media only screen and (max-width: 1150px) {
    .sidebar{
        right: -240px;
        z-index: 2;
    }
    .sidebar.active {
        -moz-box-shadow: 0px 0px 6px #bcbdbecc;
        -webkit-box-shadow: 0px 0px 6px #bcbdbecc;
        box-shadow: 0px 0px 6px #bcbdbecc;
    }
    .sidebar-wrapper .hide-sidebar {
        height: 41px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.sidebar-wrapper .fa-chevron-right {
    color: var(--main-color);
    font-size: 24px;
    margin-left: 120px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 1150px) {
    .sidebar-wrapper .fa-chevron-right {
        display: block;
    }

}

.sidebar .sidebar-wrapper {
    margin-top: 110px;
}

@media only screen and (max-width: 1150px) {
    .sidebar .sidebar-wrapper {
        margin-top: 20px;
    }
}

.sidebar .sidebar-wrapper h4{
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    padding-right: 72px;
    text-align: right;
}

@media only screen and (max-width: 1150px) {
    .sidebar .sidebar-wrapper h4{
        padding-right: 52px;
    }
}

.sidebar .nav{
    float: none;
    display: block;
    transition: all .3s ease-in-out;
}

@media only screen and (max-width: 1150px) {
    .sidebar .all{
        padding-top: 30px;
    }
}

.sidebar .nav li{
    padding-right: 55px;
}

@media only screen and (max-width: 1150px) {
    .sidebar .nav li{
        padding-right: 35px;
        margin-left: 20px;
    }
}

.sidebar .nav li a {
    color: var(--main-color);
    cursor: pointer !important;
}

.sidebar .nav li a:hover {
    color: #677dae;
}

.sidebar .nav li a.active {
    color: var(--main-color);
    background: #3f64b536;
    border-radius: 5px;
}
/* End sidebar */

/* Start navbar */
.navbar-area {
    position: relative;
}
.sidebar-toggler {
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 1150px) {
    .sidebar-toggler {
        display: block;
    }
}

.sidebar-toggler span {
    background-color: var(--main-color);
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px 0;
    transition: all 0.3s ease-out 0s;
}

.navbar-area .logo {
    width: 110px;
}


.navbar-area{
    width: 100%;
    min-height: 50px;
    height: 61px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-area .row{
    margin-right: 35px;
}

.navbar-area .row a {
    color: var(--main-color);
}

.dropdown-toggle::after {
    display: none !important;
}

.navbar-area .dropdown-menu {
    border: none;
    -moz-box-shadow: 0px 0px 6px #bcbdbecc;
    -webkit-box-shadow: 0px 0px 6px #bcbdbecc;
    box-shadow: 0px 0px 6px #bcbdbecc;
}

.navbar-area .dropdown-menu .dropdown-item:hover {
    background-color: var(--light-color);
    cursor: pointer;
}

.navbar-area .dropdown-menu .dropdown-item:active {
    background-color: var(--light-color);
    color: var(--darker-main-color);
}

.navbar-area .dropdown-menu a{
    font-size: 14px;
}

.navbar-area .dropdown-menu a i{
    font-size: 13px;
}

.navbar-area .header-profile-img {
    -moz-box-shadow: 0px 0px 6px #717272e3;
    -webkit-box-shadow: 0px 0px 6px #717272e3;
    box-shadow: 0px 0px 6px #717272e3;

}

.navbar-area .add-url,
.navbar-area .search-url {
    width: 84%;
    display: none;
}

@media only screen and (max-width: 991px) {
    .navbar-area .add-url,
    .navbar-area .search-url{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 100%;
        background-color: #FFFFFF;
    }
}

.navbar-area .add-url .btn,
.navbar-area .search-url .btn,
.navbar-area .add-url input,
.navbar-area .search-url input{
    display: inline-block;
}

.navbar-area .add-url input,
.navbar-area .search-url input{
    width: 75%;
    height: 40px;
    border: none;
    color: rgb(79, 79, 79);
    background-color: #F2F2F2;
    border-radius: 5px;
    padding-right: 10px;
}

@media only screen and (max-width: 991px) {
    .navbar-area .add-url input,
    .navbar-area .search-url input{
        width: calc(100% - 50px);
    }
}

.navbar-area .add-url input:focus,
.navbar-area .search-url input:focus{
    border: none;
    outline: none;
}
.navbar-area .add-url input::placeholder,
.navbar-area .search-url input::placeholder{
    color: #aaaaaa;
    background-color: #F2F2F2;

}

.navbar-area .add-url .btn,
.navbar-area .search-url .btn {
    padding: 2px 6px;
    width: 80px;
    font-weight: 400;
    margin-top: 9px;
}

.navbar-area .add-url svg,
.navbar-area .search-url svg {
    display: none;
}

@media only screen and (max-width: 991px) {
    .navbar-area .add-url .btn,
    .navbar-area .search-url .btn {
        display: none;
    }
    .navbar-area .add-url svg,
    .navbar-area .search-url svg{
        display: inline-block;
    }
}

.close-search-add-form {
    cursor: pointer;
}
/* End navbar */

/* Start content */
.content {
    width: calc(100% - 240px);
    float: left;
    color: var(--darker-main-color);
}

.content .container {
    position: relative;
}

.content .container .row .loader-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.content .container .row .loader-bg  img {
    width: 54px;
    position: relative;
    right: 50%;
    top: 150px;
}

@media only screen and (max-width: 766px) {
    .content .container .row .loader-bg  img {
        right: 41%;
    }
}

.content .card {
    border-radius: 0px;
    height: 389px !important;
    width: 289px !important;
}

.content .card .card-img-top{
   height: 145px !important;
    width: 289px !important;
}

.content .card-body a {
    color: var(--darker-main-color);
    text-decoration: none;
}

.content .card-body h5 {
    font-size: 18px;
}

.content .card-body .card-title {
    font-weight: 700;
    height: 42px !important;
}

.content .card-body .provider-name a {
    color: #828282;
}

.content .card-body .provider-name a:hover {
    text-decoration: none;
    color: var(--main-color);
}

.content .card-body .card-text {
    font-size: 14px;
    color: #4F4F4F;
    height: 97px !important;
    margin: 0;
}

.content .card-body img {
    height: 20px !important;
    width: 20px !important;
    margin: 0 0 0 12px;
}

.content .card-body .fav-icon {
    color: #FCB643;
}

.content .card-body .list-badge {
    background-color: var(--darker-main-color);
    color: var(--light-color);
    margin-top: -4px;
    padding: 5px 6px 2px 6px;
    border-radius: 10px;
    font-size: 12px;
}

.content .card-body .list-badge form{
    display: inline-block;
}

.content .card-body .list-badge form button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.content .card-body .list-badge form button i{
    color: var(--light-color);
    font-size: 11px;
    padding-left: 2px;
}

.content .card-body .action-btn .dropdown-menu {
    border: none;
    -moz-box-shadow: 0px 0px 10px #bcbdbecc;
    -webkit-box-shadow: 0px 0px 10px #bcbdbecc;
    box-shadow: 0px 0px 10px #bcbdbecc;
}

.content .card-body .action-btn .dropdown-menu .dropdown-item:hover {
    background-color: var(--light-color);
    cursor: pointer;
}

.content .card-body .action-btn .dropdown-menu .dropdown-item:active {
    background-color: var(--light-color);
}

.content .card-body .action-btn form button{
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
}

.content .card-body .action-btn form button:focus{
    border: none;
    outline: none;
}

.content .card-body .action-btn i {
    cursor: pointer;
    position: relative;
    color: var(--darker-main-color);
    transition: transform .3s ease-in-out;
}

.iScale {
    transform: scale(1.5);
}

.content .card-body .action-btn span{
    font-size: 14px;
    font-weight: 600;
    color: var(--darker-main-color);
}

@media only screen and (max-width: 1150px) {
    .content {
        width: 100%;
        float: none;
    }
}

.content .card-body .action-btn .fas.fa-star {
    color: #FCB643;
}
.empty-result {
    color: var(--main-color);
    text-align: center;
    margin-top: 200px;
}

.empty-result div {
    z-index: 500;
}
/* End content */

/* Start footer */
.footer {
    background-color: var(--main-color);
    width: 100%;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}


.footer i {
    text-align: center;
    color: #fff;
    transform: scaleX(1);
    font-size: 16px;
    transition: all .3s ease-in-out;
}

.footer i:hover {
    transform: scale(1.4);
}
/* End footer */

/* ===== Start read page ===== */

.navbar-area.read-page .logo{
    width: 35px;
}

.navbar-area.read-page .go-back{
    color: var(--main-color);
}

.navbar-area.read-page .go-back:hover{
    color: var(--main-color);
    text-decoration: none;
}

.navbar-area.read-page .go-back i{
    font-size: 24px;
}

.navbar-area.read-page .action-buttons {
    width: auto;
}

.navbar-area.read-page .action-buttons form,
.navbar-area.read-page .action-buttons .add-section-toggler {
    display: inline-block;
    position: relative;
}

.navbar-area.read-page .action-buttons form button {
    border: none;
    outline: none;
    background: none;
}

.navbar-area.read-page .action-buttons i{
    cursor: pointer;
    color: var(--main-color);
}

.navbar-area.read-page .action-buttons .fas.fa-star{
    color: #FCB643;;
}

.navbar-area.read-page .action-buttons form:hover span,
.navbar-area.read-page .action-buttons .add-section-toggler:hover span {
    display: block;
}

.navbar-area.read-page .action-buttons form span,
.navbar-area.read-page .action-buttons .add-section-toggler span  {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 70%);
    width: max-content;
    background: var(--main-color);
    color: #ffffff;
    padding: 0px 4px;
    font-size: 14px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.navbar-area.read-page .action-buttons span:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -168%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
}

.read-content .title{
    font-size: 32px;
    color: var(--darker-main-color) !important;
}

.read-content p{
    display: inline-table;
    color: #828282;
}

.read-content h5 a{
    color: var(--main-color);
}

.read-content h5 a:hover{
    color: var(--darker-main-color);
}

.read-content .desc{
    color: var(--darker-main-color);
    font-size: 20px;
}

/* ===== End read page ===== */

