@import 'https://fonts.googleapis.com/css?family=Raleway&display=swap';
@import 'https://fonts.googleapis.com/earlyaccess/notonaskharabic.css?display=swap';
@import 'https://fonts.googleapis.com/css?family=Cairo:200,400,600?display=swap';

:root {
    --main-color: #3f64b5;
}

body {
    font-style: normal;
    font-family:noto naskh arabic,Arial,sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* notification messages */
.notify-message {
    padding: 5px;
    border-radius: 10px;
    background-color: #28a745;
    color: #FFFFFF;
    font-size: 18px;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 61px;
    left: -300px;
    z-index: 9999;
}

.alert-normal {
    display: none;
    width: fit-content;
    position: fixed;
    top: 65px;
    right: 250px;
    z-index: 3;
}

.alert-ajax {
    display: none;
    width: fit-content;
    position: fixed;
    top: 65px;
    right: 250px;
    z-index: 9999;
}
/* notification messages */

.sidebar {
    overflow: auto;
    max-height: 100%;
    height: 100%;
}

.sidebar{
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 240px;
    height: 100%;
    display: block;
    z-index: -1;
    color: #fff;
    text-align: center;
    background-color: #FFFFFF;
    transition: all .3s ease-in-out;
    box-shadow: none;
}

.sidebar.active {
    right: 0;
}

@media only screen and (max-width: 1150px) {
    .sidebar{
        right: -240px;
        z-index: 2;
    }
    .sidebar.active {
        box-shadow: 0px 0px 6px #bcbdbecc;
    }
    .sidebar-wrapper .hide-sidebar {
        height: 41px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.sidebar-wrapper .fa-chevron-right {
    color: var(--main-color);
    font-size: 24px;
    margin-left: 120px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 1150px) {
    .sidebar-wrapper .fa-chevron-right {
        display: block;
    }

}

.sidebar .nav{
    margin-top: 110px;
    float: none;
    display: block;
    transition: all .3s ease-in-out;
}

@media only screen and (max-width: 1150px) {
    .sidebar .nav{
        margin-top: 50px;
    }
}

.sidebar .nav li{
    padding-right: 55px;

}

.sidebar .nav li a {
    color: var(--main-color);
    cursor: pointer !important;
}

.sidebar .nav li a:hover {
    color: #677dae;
}

.sidebar .nav li a.active {
    color: var(--main-color);
    background: #3f64b536;
    border-radius: 5px;
}

/* Start navbar */
.sidebar-toggler {
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 1150px) {
    .sidebar-toggler {
        display: block;
    }
}


.sidebar-toggler span {
    background-color: var(--main-color);
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px 0;
    transition: all 0.3s ease-out 0s;
}
.navbar-area {
    position: relative;
}

.navbar-area .logo {
    width: 110px;
}

.navbar-area{
    width: 100%;
    min-height: 50px;
    height: 61px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-area .row{
    margin-right: 35px;
}

.navbar-area .row a {
    color: var(--main-color);
}

.dropdown-toggle::after {
    display: none !important;
}

.navbar-area .dropdown-menu {
    border: none;
    box-shadow: 0px 0px 6px #bcbdbecc;
}

.navbar-area .dropdown-menu a{
    font-size: 14px;
}

.navbar-area .dropdown-menu a i{
    font-size: 13px;
}

.navbar-area .header-profile-img {
    box-shadow: 0px 0px 6px #717272e3;

}

.navbar-area .add-url,
.navbar-area .search-url {
    width: 84%;
    display: none;
}

@media only screen and (max-width: 991px) {
    .navbar-area .add-url,
    .navbar-area .search-url{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 100%;
        background-color: #FFFFFF;
    }
}

.navbar-area .add-url .btn,
.navbar-area .search-url .btn,
.navbar-area .add-url input,
.navbar-area .search-url input{
    display: inline-block;
}

.navbar-area .add-url input,
.navbar-area .search-url input{
    width: 75%;
    height: 40px;
    border: none;
    color: rgb(79, 79, 79);
    background-color: #F2F2F2;
    border-radius: 5px;
    padding-right: 10px;
}

@media only screen and (max-width: 991px) {
    .navbar-area .add-url input,
    .navbar-area .search-url input{
        width: calc(100% - 50px);
    }
}

.navbar-area .add-url input:focus,
.navbar-area .search-url input:focus{
    border: none;
    outline: none;
}
.navbar-area .add-url input::placeholder,
.navbar-area .search-url input::placeholder{
    color: #aaaaaa;
    background-color: #F2F2F2;

}

.navbar-area .add-url .btn,
.navbar-area .search-url .btn {
    padding: 2px 6px;
    width: 80px;
    font-weight: 400;
    margin-top: 9px;
}

.navbar-area .add-url svg,
.navbar-area .search-url svg {
    display: none;
}

@media only screen and (max-width: 991px) {
    .navbar-area .add-url .btn,
    .navbar-area .search-url .btn {
        display: none;
    }
    .navbar-area .add-url svg,
    .navbar-area .search-url svg{
        display: inline-block;
    }
}

.close-search-add-form {
    cursor: pointer;
}
/* End navbar */

/* Start content */

.content {
    width: calc(100% - 240px);
    float: left;
    color: var(--darker-main-color);
}

.content .container {
    position: relative;
}

.content .container .row .loader-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.content .container .row .loader-bg  img {
    width: 54px;
    position: relative;
    right: 50%;
    top: 150px;
}

@media only screen and (max-width: 766px) {
    .content .container .row .loader-bg  img {
        right: 41%;
    }
}



.content .card {
    border-radius: 0px;
    height: 389px !important;
    width: 289px !important;
}

.content .card .card-img-top{
   height: 145px !important;
    width: 289px !important;
}

.content .card-body h5 {
    font-size: 18px;
}

.content .card-body .card-title {
    font-weight: 700;
    height: 42px !important;
}

.content .card-body .provider-name a {
    color: #828282;
}

.content .card-body .provider-name a:hover {
    text-decoration: none;
    color: var(--main-color);
}

.content .card-body .card-text {
    font-size: 14px;
    color: #4F4F4F;
    height: 97px !important;
    margin: 0;
}

.content .card-body img {
    height: 20px !important;
    width: 20px !important;
    margin: 0 0 0 12px;
}

.content .card-body .action-btn i:first-child {
    font-size: 18px;
}

.content .card-body .action-btn i {
    cursor: pointer;
    position: relative;
    color: var(--main-color);
}

.content .card-body .action-btn i span{
    display: none;
    position: absolute;
    color: #FFFFFF;
    background-color: var(--main-color);
    bottom: 26px;
    left: -46px;

}

.content .card-body .action-btn i:first-child span {
    bottom: 29px;
    left: -46px;
}

.content .card-body .action-btn i:last-child span {
    bottom: 26px;
    left: -14px;
}

.content .card-body .action-btn i span:before{
    content: "";
    border-style: solid;
    border-color: var(--main-color) transparent transparent transparent;
    height: 0;
    width: 0;
    position: absolute;
    border-width: 9px;
    left: 42px;
    top: 17px;
}

.content .card-body .action-btn i:first-child span:before {
    left: 45px;
    top: 19px;
}

.content .card-body .action-btn i:last-child span:before {
    left: 11px;
    top: 16px;
}

@media only screen and (max-width: 1150px) {
    .content {
        width: 100%;
        float: none;
    }
}

.empty-search-result {
    color: var(--main-color);
    text-align: center;
    margin-top: 200px;
}

.empty-search-result div {
    z-index: 500;
    width: 120px;
}
/* End content */

/* Start footer */
.footer {
    background-color: var(--main-color);
    width: 100%;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}


.footer i {
    text-align: center;
    color: #fff;
    transform: scaleX(1);
    font-size: 16px;
    transition: all .3s ease-in-out;
}

.footer i:hover {
    transform: scale(1.4);
}
/* End footer */


